#divinha_lancamentosadm{
    height: auto;
}
#header_lancamentosadm{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#divinha_lancamentosadm > p{
    font-size: 1.5em;
}