#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#p_adm{
    margin-right: 5%;
    font-weight: bold;
}
#divinha > p{
    font-size: 1.5em;
}
#guias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20vh;
}
#guias > button{
    font-size: 1.7em;
    border-radius: 10px;
    border-style: solid;
    border-color: #EB4A5F;
    border-width: 3px;
    background-color: white;
    cursor: pointer;
}
.guias_botoes{
    font-size: 1.7em;
    border-radius: 10px;
    border-style: solid;
    border-color: #EB4A5F;
    border-width: 3px;
    background-color: white;
    cursor: pointer;
    color: black;
}
#divinha{
    height: 75vh;
}
.link_dash_adm_p{
    color: black;
}
.sairadm{
    font-size: 2em;
    color: black;
    text-align: center;
    align-self: center;
    margin-left: 48%;
}
.sairtudao{
    display: flex;
}
.rodapeadm{
    margin-top: 6.5%;
}