#nav_ul_cinemas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1%;
}
#login_cinemas{
    position: relative;
    left: 220%;
}
#logo_mapa{
    height: 50px;
    margin-left: 5%;
}