.logo{
    margin: 10px 0px 5px 30px;
    height: 50px;
}
.divona{
    background-image: url("../../img/mao.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#box_login{
    height: 50vh;
    width: 25%;
    color: white;
    background-color: rgba(42, 58, 59, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 36.5%;
    top: 10%;
    border-radius: 15px;
    border-color: #EB4A5F;
    border-style: solid;
    border-width: 3px;
}
#box_login > h2{
    text-align: center;
    color: #EB4A5F;
}
#box_login > form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0vh 0vh 0vh
}
#box_login > form > input{
    height: 3.5vh;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    box-sizing: border-box;
    border: none;
    margin: 2%;
    width: 50%;
}
#submit_login{
    background-color: #2A3A3B;
    color: #EB4A5F;
    font-weight: bold;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #EB4A5F;
}
#cadastro_login{
    text-align: center;
}